<h2>Lets get a little information</h2>
<%= form_for [@user, @bio] do |f| %>

<%= f.label :pro_image, 'Profile Image' %>
<%= f.text_field :pro_image, required: true, autofocus: true %>

<%= f.label :description, 'Tell everyone about you' %>
<%= f.text_area :description, required: true %>

<%= f.submit %>
</div>

<% end %>
